// DISPONIBILIDADE DE VACINAS E TESTES
.disponivel {
  .disponivel-filtro {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .disponivel-filtro__p {
      font-weight: $semi;
    }

    //temporario
    .disponivel-filtro__select {
      width: 9.25rem;
      padding: .75rem 1rem;
      font-size: 1rem;
      border: 1px solid var(--300);
      border-radius: .25rem;
      margin-left: 1.5rem;
    }
  }

  .disponivel__lista {
    display: flex;
    flex-direction: column;

    .disponivel__card {
      border: 1px solid var(--200);
      border-radius: .5rem;
      padding-left: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .card__info {
        padding: 1.375rem 0;

        .regiao {
          text-transform: uppercase;
          font-weight: $medium;
          line-height: 1;
          letter-spacing: 1px;
          color: var(--300);
        }

        .regiao__nome {
          line-height: 1;
          color: var(--600);
          font-weight: $semi;
          letter-spacing: -0.01em;
          margin: .5rem 0 .75rem;
        }

        .regiao__disponiveis {
          display: flex;
          align-items: center;

          //temporario
          &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: var(--300);
            margin-right: .5rem;
          }
        }
      }

      .card__btn {
        width: 2.5rem;
        height: 2.5rem;
        background: var(--400);
        border-radius: .5rem 0 .5rem 0;
      }
    }
  }

  .ver-todas {
    display: block;
    font-weight: $bold;
    text-decoration: underline;
    text-underline-offset: .2rem;
    background: none;
    color: var(--400);
    width: fit-content;
    margin: 2rem auto 0;
  }
}

.consulta {
  margin: 4rem 0;
  background: var(--100);
  padding: 2rem 0;

  .btn-principal {
    background: var(--600);
    color: var(--100);
    margin-top: 2rem;

  }
}

//para reutilizar o estilo
.dado__card {
  padding: 1rem .75rem;
  color: var(--100);
  border-radius: .25rem;
}

// CASOS DE COVID NO ULTIMO MES
// .casos-covid {
//   text-align: center;
//   margin-bottom: 4rem;

//   .casos__div {
//     background: var(--600);
//     border-radius: .5rem;
//     padding: 2.5rem 1.5rem 2rem;
//     margin-top: 2rem;

//     .casos__filtro {
//       width: 100%;
//       padding: .75rem 1rem;
//       font-size: 1rem;
//       border: 1px solid var(--300);
//       border-radius: .25rem;
//       margin-bottom: 2rem;
//     }

//     .dado__card {
//       background: rgba(51, 51, 51, 0.81);

//       p {
//         font-size: 1.25rem;
//         font-weight: $semi;
//       }

//       span {
//         font-weight: $medium;
//       }

//       &:not(:last-child) {
//         margin-bottom: .375rem;
//       }
//     }

//     .atualizado-em {
//       text-align: right;
//       margin-top: 1.5rem;
//       color: var(--200);
//       font-size: .875rem;
//     }
//   }
// }

// DADOS VACINAIS DF
.dados-vacinais {
  background: var(--600);
  padding: 3rem 0;

  .dados-vacinais__h2 {
    color: var(--100);
    text-align: center;
  }

  .dados-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;

    .dado-card {
      background: var(--400);
      color: var(--100);
      padding: 1.5rem .75rem;
      text-align: center;
      flex: 1 0 6rem;

      &:nth-child(3) {
        margin: 0 .625rem;
      }

      .dado-card__p {
        margin-bottom: .5rem;
        font-weight: $bold;
      }

      &.big-card {
        flex-basis: 100%;
        margin-bottom: .75rem;

        .dado-card__p,
        .dado-card__span {
          font-size: 1.25rem;
        }
      }
    }
  }

  .ver-todas-doses {
    text-align: center;
    width: 100%;
    background: var(--100);
    color: var(--600);
    margin-top: 2rem;
  }
}

//secão de duvidas frequentes
.secao-duvidas {
  margin: 4rem 0;

  .secao-duvidas__p {
    margin: 1rem 0 2.5rem;
  }

  .btn-principal {
    background: var(--600);
    color: var(--100);
  }
}

@import 'parts/footer'