.quantitativo {
  margin-bottom: 6rem;

  h2 {
    text-align: center;
  }

  .quantitativo_graphs {
    margin-top: 2rem;

    .total_doses {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 2rem 0 .75rem;
        font-weight: var(--bold);
      }

      .total {
        font-size: 2rem;
      }
    }
  }

  .perc__lista {
    display: flex;
    flex-direction: column;

    .perc__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      .perc__info {

        span,
        p {
          line-height: 1;
        }

        span {
          display: block;
          margin-bottom: .75rem;
          font-weight: var(--medium);
        }

        p {
          font-size: 2rem;
          font-weight: var(--semi);
        }
      }

      canvas {
        height: 1.375rem !important;
        width: 12.75rem !important;
      }
    }

    .legenda {
      text-align: right;
      font-size: .54rem;
      margin-top: -1.5rem;
    }
  }
}