.section__h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.quantitativo {
  margin-bottom: 6rem;

  .quantitativo_graphs {
    .total_doses {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 2rem 0 .75rem;
        font-weight: var(--bold);
      }

      .total {
        font-size: 2rem;
      }
    }
  }

  .perc__lista {
    display: flex;
    flex-direction: column;

    .perc__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      .perc__info {

        span,
        p {
          line-height: 1;
        }

        span {
          display: block;
          margin-bottom: .75rem;
          font-weight: var(--medium);
        }

        p {
          font-size: 2rem;
          font-weight: var(--semi);
        }
      }

      canvas {
        height: 1.375rem !important;
        width: 12.75rem !important;
      }
    }

    .legenda {
      text-align: right;
      font-size: .54rem;
      margin-top: -1.5rem;
    }
  }
}

.estoque {
  padding-bottom: 4.5rem;

  .estoque_lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .estoque_item {
      width: 9.125rem;
      // flex: 1 0 9.125rem;
      padding: 1.5rem .75rem;
      border-radius: .25rem;
      border: 1px solid var(--200);
      text-align: center;
      margin-bottom: 1.5rem;

      h3 {
        font-size: 1rem;
        color: var(--300);
        margin-bottom: .75rem;
      }

      p {
        color: var(--600);
        font-size: 1.25rem;
        font-weight: var(--semi);
      }
    }
  }
}