.main_btn {
  color: var(--INVAC_Azul_escuro);
  background: var(--INVAC_Neutra_fff);
  margin-top: 2.5rem;
}

.disponivel_caixa {
  border-radius: 0 0 .5rem .5rem;
  background: var(--INVAC_Neutra_fff);
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.16);
  padding: 2rem 1rem;

  .disponivel_item {
    border: 2px solid var(--INVAC_Neutra_100);
    border-radius: .5rem;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    .disponivel_btn {
      width: 100%;
      background: var(--INVAC_Neutra_100);
      padding: .75rem .75rem .75rem 1rem;
      border-radius: .5rem .5rem 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      * {
        color: var(--INVAC_Preto_texto);
      }

      h3 {
        font-size: 1rem;
        font-weight: var(--semi);
        letter-spacing: -0.01em;
      }

      div {
        display: flex;
        align-items: center;

        &::before {
          content: url(../public/icons/vacina.svg);
          width: 1rem;
          height: 1rem;
          margin-right: .5rem;
        }

        .numero {
          display: none;
        }

        p {
          font-weight: var(--medium);
          margin-right: .875rem;
        }
      }
    }

    .disponivel_info {
      padding: 0 1.25rem;
      visibility: hidden;
      opacity: 0;
      height: 0;

      .ubs_lista {
        display: flex;
        flex-direction: column;
        height: 0;

        .ubs_item {
          padding: 0;
          height: 0;

          &:not(:last-child) {
            border-bottom: 1px solid var(--INVAC_Neutra_100);
          }

          span,
          p {
            color: var(--INVAC_Cinza_info);
          }

          .ubs {
            h4 {
              font-size: 1rem;
              font-weight: var(--medium);
              color: var(--INVAC_Preto_texto);
              line-height: 1;
              margin-bottom: 1rem;
            }

            .ubs_info {
              &:not(:last-child) {
                margin-bottom: 1rem;
              }

              span {
                display: flex;
                align-items: center;
                margin-bottom: .5rem;
                font-weight: var(--medium);

                &::before {
                  margin-right: .375rem;
                }

                &.ubs_horario::before {
                  content: url(../public/icons/horario.svg);
                }

                &.ubs_endereco::before {
                  content: url(../public/icons/endereco.svg);
                  margin-top: 3px;
                }
              }

              p {
                margin-left: calc(.875rem + .375rem);
              }
            }
          }

          .doses {
            margin-top: 1.5rem;
            padding: 1.5rem 1.25rem;
            border: 2px solid var(--INVAC_Neutra_100);
            border-radius: .5rem;

            li {
              display: flex;
              align-items: center;

              &:not(:last-child) {
                margin-bottom: .375rem;
              }

              &::before {
                content: '';
                width: .375rem;
                height: .375rem;
                background: var(--INVAC_Azul_400);
                border-radius: 50%;
                margin-right: .5rem;
              }
            }
          }
        }
      }
    }

    &.ativo {

      .disponivel_btn {
        background: var(--INVAC_Azul_600);

        * {
          color: var(--INVAC_Neutra_fff);
        }

        svg {
          transform: rotate(180deg);

          path {
            fill: var(--INVAC_Neutra_fff);
          }
        }
      }

      .disponivel_info {
        visibility: visible;
        opacity: 1;
        height: auto;

        .ubs_lista {
          height: auto;

          .ubs_item {
            padding: 2rem 0;
            height: auto;
          }
        }
      }
    }
  }
}