$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;

.main__subtitulo {
  color: var(--100);
  width: fit-content;
  margin-bottom: 2rem;

  .subtitulo__bold {
    font-weight: $semi;
  }
}

.main_call {

  .cta {
    margin-top: 2rem;

    .cta__span {
      text-transform: uppercase;
      color: var(--100);
      font-size: .875rem;
      font-weight: $bold;
      display: block;
      margin-bottom: 1.5rem;
    }
  }
}