.aviso {
  background: var(--100);
  padding: .75rem;
  border-radius: .5rem;
  border: 1px solid var(--200);
  display: flex;
  margin-bottom: 2rem;

  &::before {
    content: url(../public/icons/aviso.svg);
    width: 1rem;
    height: 1rem;
    padding-top: 2px;
    margin-right: .5rem;
  }
}

.form_caixa {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  padding: 2.5rem 1rem;
  margin-bottom: 6rem;
  border-radius: 0 0 .5rem .5rem;
}

.form_section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .section__h2 {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--300);
    margin-bottom: 1.5rem;
  }

  .label_input {
    font-size: 1rem;
    font-weight: var(--semi);
    color: var(--500);
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }

    label {
      margin-bottom: .5rem;
    }

    input,
    select {
      padding: 1rem .75rem;
      border: 1px solid var(--200);
      border-radius: .25rem;
      font-size: 1rem;
      line-height: 1;
    }

    //estilização dos inputs de select
    .select {
      background: var(--100);
      border-radius: .25rem;
      position: relative;

      &::after {
        position: absolute;
        display: block;
        content: url(../public/icons/arrow-down.svg);
        right: .75rem;
        top: 25%;
      }

      select {
        background: transparent;
        -webkit-appearance: none;
        border: none;
        border-radius: 0;
        width: 100%;
      }
    }

    //estilização das checkboxes
    .checkbox {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      input {
        padding: 0;
        margin-right: .5rem;
      }

      label {
        color: var(--300);
        font-weight: var(--regular);
        margin-bottom: 0;
      }
    }
  }


  //estilização dos inputs do tipo radio e labels
  label[id="radio_select"] {
    display: block;
    font-size: 1rem;
    font-weight: var(--semi);
    margin: 2.5rem 0 1rem;
  }

  .radio_input {
    appearance: none;
    -webkit-appearance: none;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: .25rem;
    border: 1px solid var(--300);
    margin-right: 1rem;

    &:checked {
      border: 3px solid #fff;
      box-shadow: 0 0 0 1px var(--300);
      background: var(--500);
    }
  }

  .radio_select,
  .check_ul {
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    border: 1px solid var(--200);
    max-height: 300px;
    overflow-y: auto;

    input[type="radio"] {
      margin-top: .25rem;

      &:nth-child(even) {
        background: rgba(224, 224, 224, 0.6);

        input:checked {
          border-color: rgba(224, 224, 224, 0.4);
        }
      }
    }

    .ubs {
      display: flex;
      align-items: flex-start;
      padding: 1.5rem 1.25rem 1rem;

      label {
        p {
          font-weight: var(--semi);
          color: var(--500);
        }

        span {
          display: block;
          font-size: .875rem;
          color: var(--300);

          &:not(:last-child) {
            margin-bottom: .75rem 0 .5rem;
          }
        }
      }
    }
  }

  //estilização da etapa 2 (sintomas) do form de teste 
  .check_ul {
    margin-top: 1rem;
    border: none;

    .check_select {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      input {
        padding: 0;
        margin-top: 0;
      }

      label {
        margin: 0;
        font-weight: var(--regular);
      }
    }
  }

  //estilização da lista de UBSs
  .ubs {
    display: flex;
    align-items: flex-start;
    padding: 1.5rem 1.25rem 1rem;

    label {
      p {
        font-weight: var(--semi);
        color: var(--500);
      }

      span {
        display: block;
        font-size: .875rem;
        color: var(--300);

        &:not(:last-child) {
          margin-bottom: .75rem 0 .5rem;
        }
      }
    }
  }




  .form_linha {
    // display: flex;
    // flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.form_progresso {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .progresso_btn {
    font-weight: var(--bold);
    background: var(--600);
    color: var(--100);
    margin-left: auto;

    &.voltar {
      background: var(--200);
      color: var(--600);
      margin-left: 0;
    }

    &[disabled] {
      opacity: .6;
    }
  }
}

.section_confirm_h2 {
  font-size: 1.25rem;
  font-weight: var(--medium);
  color: var(--300);
  margin-bottom: 2rem;
}

.confirm_section {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  h3 {
    color: var(--300);
    margin-bottom: 1rem;
    font-weight: var(--medium);
  }

  div {
    padding: 1.2rem;
    border: 1px solid var(--100);
    border-radius: .5rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    p {
      span {
        display: inline-block;
        font-weight: var(--semi);
      }

      &:not(:last-child) {
        margin-bottom: .75rem;
      }
    }
  }
}

.form_sucesso {
  .sucesso_info_sec {
    h2 {
      font-weight: var(--bold);
      line-height: 1;
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
    }

    p {
      max-width: 41.5rem;
      color: var(--500);
    }
  }

  .app_info_sec {
    margin-top: 3rem;
    padding: 2.5rem;
    background: var(--100);
    border-radius: .5rem;

    h3 {
      line-height: 1.6;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .btn_app {
      width: 100%;
      background: var(--600);
      color: var(--100);
      display: flex;
      align-items: center;

      //temporario
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--100);
        margin-right: 0.5rem;
      }
    }
  }
}

.overlay_popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.24);
  width: 100vw;
  height: 100vh;
  z-index: 6;

  .container {
    position: relative;
    height: 100vh;
    padding: 0 1.375rem;
  }

  .overlay_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 1rem;
    width: 90%;
    max-width: 36rem;
    padding: 3rem;

    h2 {
      line-height: 1.4;
      font-weight: var(--bold);
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    p {
      color: var(--400);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    a {
      padding: .7rem 3rem;
      background: var(--400);
      color: var(--100);
      font-weight: var(--bold);
    }
  }
}