html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // line-height: 1.5;

  &:focus,
  &:focus-visible {
      outline: #18679f auto 1px;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  position: relative;
}

a, span {
  display: block;
}