@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "parts/tema";

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  color: var(--600);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  position: relative;
}

a,
span {
  display: block;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.btn_principal {
  width: fit-content;
  padding: .625rem 1rem;
  border-radius: .25rem;
  font-weight: var(--semi);
}

.btn_secundario {
  font-weight: var(--medium);
  display: flex;
  align-items: center;

  //temporario
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--500);
    margin-right: .5rem;
  }
}

.container {
  padding: 0 1.375rem;
}

.main {
  padding: 2.5rem 0;
  background: var(--600);
  margin-bottom: 2.5rem;

  .main__titulo, .main__titulo_secundario {
    font-weight: var(--bold);
    font-size: 1.75rem;
    line-height: 1.4;
    color: var(--100);
  }

  .main__titulo_secundario {
    font-size: 1.5rem;
  }

  .main__btn {
    color: var(--100);
    text-decoration: underline;
    text-underline-offset: 0.375rem;

    &::before {
      background: var(--300);
      margin-right: .75rem;
    }
  }

  .index_main__btn {
    margin-top: 2rem;
    background: var(--100);
    color: var(--600);
  }
}

.page {
  padding-top: 4rem;
}

.menu_info {
  li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .menu_info__item {
    font-weight: var(--medium);
    color: var(--400);
    text-decoration: underline;
    text-underline-offset: .375rem;
  }
}

.copyright {
  color: var(--600);
  text-align: center;
  margin-top: 2.5rem;
  font-size: .875rem;
}

@import "parts/navbar";

footer {
  background: var(--600);
  padding: 3rem 0 2rem;

  .menu_info .menu_info__item {
    font-size: 1.125rem;
    color: var(--100);
    text-align: center;
  }

  .copyright {
    color: var(--200);
  }
}