//TODAS AS SEÇÕES DO INDEX
.secao_index {
  margin: 4rem 0;

  @media only screen and (min-width: 768px) {
    margin: 6rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: 2.5rem;
    }

    .section__info {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: .75rem 0 2rem;
        text-align: center;
        color: var(--INVAC_Cinza_texto);
        max-width: 22.5rem;
        line-height: 1.5;
      }
    }
  }

  @media only screen and (min-width: 1180px) {
    margin: 9rem 0;

    .container {
      .section__info {
        width: 24rem !important;

        img {
          max-width: 25rem;
        }

        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.25rem;
          max-width: 100% !important;
        }
      }
    }
  }

  @media only screen and (min-width: 1366px) {}
}

//MAIN SECTION
.main .container {

  div {
    width: 19.75rem;
    margin: 0 auto;
  }

  @media only screen and (min-width: 768px) {
    height: 17rem;
    background-image: url(../public/img/bg_main_index2.png), url(../public/img/bg_main_index.svg), var(--Gradiente_Azul-ltr-Verde);
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: 100% 0%, center center;

    h1 {
      max-width: 21rem !important;
    }

    div {
      width: 43rem;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 1180px) {
    width: 53.625rem;
    margin: 0 auto;

    h1 {
      max-width: 28.75rem !important;
    }

    div {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1366px) {
    width: 60.6875rem;
    height: 20.8rem;

    h1 {
      max-width: 28.75rem !important;
    }

    .index_main__btn {
      margin-top: 2.5rem !important;
    }
  }
}

// DISPONIBILIDADE DE VACINAS E TESTES
.disponivel {

  h2 {
    font-size: 1.125rem;
    font-weight: var(--semi);
    color: var(--INVAC_Preto_texto);
    line-height: 1.4;
    letter-spacing: 0;
    margin: 0 auto 2.5rem;
    //max-width: 31.8rem;
  }

  .disponivel_caixa {
    border-radius: 0 0 .5rem .5rem;
    background: var(--INVAC_Neutra_fff);
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.16);
    padding: 2rem 1rem;

    .disponivel__lista {
      //display: flex;
      //flex-direction: column;

      .disponivel__card {
        background: #F0F2F5;
        border-radius: .5rem;
        padding-left: 1.25rem;
        transition: .3s ease-in-out;

        &:not(:last-child) {
          margin-bottom: .5rem;
        }

        &:hover{
          background: var(--INVAC_Azul_600);

          a{
            div{
              .regiao_span{
                color: var(--INVAC_Neutra_fff);
                opacity: .7;
              }

              .regiao_nome{
                color: var(--INVAC_Neutra_fff);
              }

              .regiao_disp{
                color: var(--INVAC_Neutra_fff);
              }
            }
          }
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          &:hover {
            text-decoration: none;
          }

          div {
            padding: 1rem 0;

            .regiao_span {
              text-transform: uppercase;
              letter-spacing: 1px;
              color: var(--INVAC_Neutra_300);
              font-size: .75rem;
              font-weight: var(--semi);
            }

            .regiao_nome {
              font-weight: var(--semi);
              color: var(--INVAC_Preto_texto);
              font-size: 1.125rem;
              letter-spacing: -0.01em;
              margin: .5rem 0 .75rem;
            }

            .regiao_disp {
              display: flex;
              align-items: center;
              color: var(--INVAC_Preto_texto);

              &::before {
                content: url(../public/icons/medical_services.svg);
                width: 1rem;
                height: 1rem;
                margin-right: .625rem;
                margin-bottom: 3px;
              }
            }
          }

          button {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: .5rem 0;
            background: var(--INVAC_Azul_600);

            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              content: url(../public/icons/arrow_right.svg);
              padding: 3px 0 0 2px;
              //width: 1rem;
              //height: 1rem;
              //margin: auto;
            }
          }
        }
      }
    }

    .ver_todas {
      display: block;
      font-weight: var(--semi);
      background: none;
      color: var(--INVAC_Azul_600);
      width: fit-content;
      margin: 2rem auto 0;

      &:hover {
        text-decoration: underline;
        color: var(--INVAC_Azul_700);
      }
    }
  }

  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 1.25rem;
      width: 31.875rem;
      margin-bottom: 4rem;
    }

    .disponivel_caixa {
      padding: 3.5rem 1.5rem 2.5rem;

      .disponivel__lista {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .disponivel__card {
          width: 19.25rem;

          &:not(:last-child),
          &:last-child {
            margin-bottom: 1.5rem;
          }
        }
      }

      .ver_todas {
        margin-top: .5rem;
        margin: .5rem 0 0 auto;
      }
    }
  }

  @media only screen and (min-width: 1180px) {
    h2 {
      font-size: 1.375rem;
      width: 40rem;
    }

    .disponivel_caixa {
      .disponivel__lista {

        .disponivel__card {
          width: 11.875rem;
          height: 7.5rem;
          padding: 0 1rem;

          display: flex;
          align-items: center;

          a {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &:hover {
              text-decoration: none;
            }

            div {
              padding: 0;

              .regiao_span {
                text-transform: uppercase;
                letter-spacing: 1px;
                color: var(--INVAC_Neutra_300);
                font-size: .75rem;
                font-weight: var(--semi);
              }

              .regiao_nome {
                font-weight: var(--semi);
                color: var(--INVAC_Preto_texto);
                font-size: 1.125rem;
                letter-spacing: -0.01em;
                margin: .5rem 0 .75rem;
              }

              .regiao_disp {
                display: flex;
                align-items: center;
                color: var(--INVAC_Preto_texto);

                &::before {
                  content: url(../public/icons/medical_services.svg);
                  width: 1rem;
                  height: 1rem;
                  margin-right: .625rem;
                  margin-bottom: 3px;
                }
              }
            }

            button {
              display: none;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1366px) {
    .disponivel_caixa {
      .disponivel__lista {

        .disponivel__card {
          width: 13.75rem;
        }
      }
    }
  }


  /*
  @media only screen and (min-width: 560px) {
    .disponivel_caixa {
      padding: 2rem 1.5rem;

      .disponivel__lista {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .disponivel__card {
          flex: 1 0 45%;

          &:not(:last-child),
          &:last-child {
            margin-bottom: 1.5rem;
          }

          &:nth-child(odd) {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 880px) {
    .disponivel_caixa .disponivel__lista .disponivel__card {
      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }
  }*/
}

//CONSULTA 
.consulta .container {

  img {
    width: 17.5rem;
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      order: 2;
      width: 20.75rem;
      margin-bottom: 0;
    }

    .section__info {
      align-items: flex-start;

      h2 {
        font-size: 1.5rem;
        text-align: left;
      }

      p {
        text-align: left;
        max-width: 20.75rem;
      }
    }
  }

  @media only screen and (min-width: 1180px) {
    img {
      width: 22.5rem;
    }

    .section__info {
      h2 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  @media only screen and (min-width: 1366px) {

    padding: 0 1.5rem;

    img {
      width: 25rem;
    }

    .section__info {
      min-width: 28.75rem;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.375rem;
        margin-bottom: 3rem;
      }
    }
  }

  /*
  @media only screen and (min-width: 880px) {
    img {
      min-width: 20.75rem;
      width: 100%;
      max-width: 24rem;
    }
  }
  */
}

//MAPA DE CASOS 
.mapa_casos .container {
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      order: 2;
      width: 16.5rem;
      margin-bottom: 0;
    }

    .section__info {
      align-items: flex-start;
      max-width: 22.5rem;
      order: 2;

      h2 {
        font-size: 1.5rem;
        line-height: 1.4;
      }

      h2,
      p {
        text-align: left;
      }
    }
  }

  @media only screen and (min-width: 1180px) {
    img {
      width: 22.5rem;
    }

    .section__info {
      min-width: 25.8125rem;

      h2 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.125rem;
        margin-bottom: 3rem;
      }
    }
  }

  @media only screen and (min-width: 1366px) {
    img {
      width: 25rem;
    }

    .section__info {
      min-width: 27.875rem;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
        margin-bottom: 3rem;
      }
    }
  }

  /*
  @media only screen and (min-width: 880px) {
    img {
      min-width: 20.75rem;
      width: 100%;
      max-width: 24rem;
    }
  }
  */
}

// DADOS VACINAIS DF
.dados_vacinais {
  .dados_container {
    display: flex;
    flex-direction: column;
    background: var(--Gradiente_Azul-ltr-Azul);
    padding: 2rem 1.5rem;
    border-radius: .5rem;

    * {
      color: var(--INVAC_Neutra_fff);
    }

    .dados_vacinais__h2 {
      font-size: 1.5rem;
      text-align: left;
      line-height: 1.3;
      font-weight: var(--semi);
      max-width: 24rem;
    }

    p {
      margin: .75rem 0 2rem;
      line-height: 1.65;
    }

    .dados_vacinais__btn {
      background: var(--INVAC_Neutra_fff);
      color: var(--INVAC_Azul_escuro);
      font-weight: var(--bold);

      &:hover {
        background: var(--INVAC_Neutra_200);
      }
    }

    @media only screen and (min-width: 768px) {
      margin: 6rem 0;
      //height: 17rem;
      justify-content: center;
      background: red;
      background-image: url(../public/img/bg_dados_index.svg);
      background-image: url(../public/img/bg_dados_index.svg), var(--Gradiente_Azul-ltr-Verde);
      background-size: 106%;
      background-repeat: no-repeat;
      background-position: 100% 0;

      h2,
      p {
        max-width: 20.25rem !important;
      }
    }

    @media only screen and (min-width: 1180px) {
      padding: 3rem 2.5rem;

      .dados_vacinais__h2 {
        font-size: 1.75rem;
      }

      .dados_vacinais__h2,
      p {
        min-width: 24.5rem;
      }

      p {
        margin-bottom: 2.5rem;
      }
    }

    @media only screen and (min-width: 1366px) {
      padding: 3.5rem 3rem;

      .dados_vacinais__h2 {
        font-size: 2rem;
      }

      .dados_vacinais__h2,
      p {
        min-width: 27.875rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}

//secão de duvidas frequentes
.secao_duvidas {
  .duvidas_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    span {
      line-height: 1.3;
      letter-spacing: -0.01em;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: .75rem;

      span {
        display: inline-block;
        text-transform: uppercase;
        color: var(--INVAC_Preto_texto);
      }
    }

    .duvidas_cta {
      .secao_duvidas__p {
        margin-bottom: 2rem;
        text-align: center;
        color: var(--INVAC_Cinza_textos);
        max-width: 24rem;
        line-height: 1.5;
      }

      a {
        margin: auto;

        &:hover {
          background: var(--INVAC_Neutra_200);
        }
      }
    }

    @media only screen and (min-width: 768px) {
      background-image: var(--Gradiente_Azul-ltr-Azul);
      padding: 2.5rem 2rem;
      border-radius: .5rem;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h2 {
        width: 13.125rem;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1.3;

        margin-bottom: 0;
        text-align: left;

        span {
          font-size: 2rem;
        }

        &,
        span {
          color: var(--INVAC_Neutra_fff);
        }

        /*
        &,
        span {
          color: var(--INVAC_Neutra_fff);
          font-size: 2rem;
          line-height: 1.3;
          letter-spacing: 0;
          font-weight: 800;
        }
*/
      }

      .duvidas_cta {
        //max-width: 22rem;
        color: var(--INVAC_Neutra_fff);

        .secao_duvidas__p {
          text-align: left;
        }

        a {
          font-weight: var(--bold);
          background: var(--INVAC_Neutra_fff);
          color: var(--INVAC_Azul_escuro);
          margin: 0;
        }
      }
    }

    @media only screen and (min-width: 1180px) {
      padding: 2.5rem;

      h2 {
        font-size: 2.5rem;
        width: 18.375rem;

        span {
          font-size: 2.5rem;
        }
      }

      .duvidas_cta .secao_duvidas__p {
        font-size: 1.125rem;
        min-width: 26.7rem;
      }
    }

    @media only screen and (min-width: 1366px) {
      padding: 3.5rem;

      .duvidas_cta {
        .secao_duvidas__p {
          font-size: 1.25rem;
          min-width: 30rem;
        }
      }

    }
  }
}