//TODAS AS SEÇÕES DO INDEX
.secao_index {
  margin: 4rem 0;

  @media only screen and (min-width: 768px) {
    margin: 6rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: 2.5rem;
    }

    .section__info {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: .75rem 0 2rem;
        text-align: center;
        color: var(--INVAC_Cinza_texto);
        max-width: 22.5rem;
        line-height: 1.5;
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    margin: 9rem 0;

    .container {
      .section__info {
        width: 24rem !important;

        img {
          max-width: 25rem;
        }

        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.25rem;
          max-width: 100% !important;
        }
      }
    }
  }
}

//MAIN SECTION
.main .container {
  @media only screen and (min-width: 768px) {
    height: 17rem;
    background-image: url(../public/img/bg_main_index2.png), url(../public/img/bg_main_index.svg), var(--Gradiente_Azul-ltr-Verde);
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: 100% 0%, center center;

    h1 {
      max-width: 21rem !important;
    }
  }
}

// DISPONIBILIDADE DE VACINAS E TESTES
.disponivel {
  h2 {
    font-size: 1.125rem;
    font-weight: var(--semi);
    color: var(--INVAC_Preto_texto);
    line-height: 1.4;
    letter-spacing: 0;
    margin: 0 auto 2.5rem;
    max-width: 31.8rem;
  }

  .disponivel_caixa {
    border-radius: 0 0 .5rem .5rem;
    background: var(--INVAC_Neutra_fff);
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.16);
    padding: 2rem 1rem;

    .disponivel__lista {
      display: flex;
      flex-direction: column;

      .disponivel__card {
        background: var(--INVAC_Neutra_100);
        border-radius: .5rem;
        padding-left: 1.25rem;

        &:not(:last-child) {
          margin-bottom: .5rem;
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          &:hover {
            text-decoration: none;
          }

          div {
            padding: 1rem 0;

            .regiao_span {
              text-transform: uppercase;
              letter-spacing: 1px;
              color: var(--INVAC_Neutra_300);
              font-size: .75rem;
              font-weight: var(--semi);
            }

            .regiao_nome {
              font-weight: var(--semi);
              color: var(--INVAC_Preto_texto);
              font-size: 1.125rem;
              letter-spacing: -0.01em;
              margin: .5rem 0 .75rem;
            }

            .regiao_disp {
              display: flex;
              align-items: center;
              color: var(--INVAC_Preto_texto);

              &::before {
                content: url(../public/icons/medical_services.svg);
                width: 1rem;
                height: 1rem;
                margin-right: .625rem;
                margin-bottom: 3px;
              }
            }
          }

          button {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: .5rem 0;
            background: var(--INVAC_Azul_600);

            &::before {
              content: url(../public/icons/arrow_right.svg);
              width: 1rem;
              height: 1rem;
              margin: auto;
            }
          }
        }
      }
    }

    .ver_todas {
      display: block;
      font-weight: var(--bold);
      background: none;
      color: var(--INVAC_Azul_600);
      width: fit-content;
      margin: 2rem auto 0;

      @media only screen and (min-width: 560px) {
        margin: 2rem 0 0 auto;
      }
    }
  }

  @media only screen and (min-width: 560px) {
    .disponivel_caixa {
      padding: 2rem 1.5rem;

      .disponivel__lista {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .disponivel__card {
          flex: 1 0 45%;

          &:not(:last-child),
          &:last-child {
            margin-bottom: 1.5rem;
          }

          &:nth-child(odd) {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 880px) {
    .disponivel_caixa .disponivel__lista .disponivel__card {
      &:nth-child(odd) {
        margin-right: 2rem;
      }
    }
  }
}

//CONSULTA 
.consulta .container {
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      order: 2;
      max-width: 20.75rem;
      margin-bottom: 0;
    }

    .section__info {
      align-items: flex-start;

      h2 {
        text-align: left;
      }

      p {
        text-align: left;
        max-width: 20.75rem;
      }
    }
  }

  @media only screen and (min-width: 880px) {
    img {
      min-width: 20.75rem;
      width: 100%;
      max-width: 24rem;
    }
  }
}

//MAPA DE CASOS 
.mapa_casos .container {
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      order: 2;
      max-width: 16.5rem;
      margin-bottom: 0;
    }

    .section__info {
      align-items: flex-start;
      max-width: 22.5rem;
      order: 2;

      h2 {
        text-align: left;
      }

      p {
        text-align: left;
        max-width: 20.75rem;
      }
    }
  }

  @media only screen and (min-width: 880px) {
    img {
      min-width: 20.75rem;
      width: 100%;
      max-width: 24rem;
    }
  }
}

// DADOS VACINAIS DF
.dados_vacinais {
  .dados_container {
    display: flex;
    flex-direction: column;
    background: var(--Gradiente_Azul-ltr-Azul);
    padding: 2rem 1.5rem;
    border-radius: .5rem;

    * {
      color: var(--INVAC_Neutra_fff);
    }

    .dados_vacinais__h2 {
      font-size: 1.5rem;
      text-align: left;
      line-height: 1.3;
      font-weight: var(--bold);
      max-width: 24rem;
    }

    p {
      margin: .75rem 0 2rem;
    }

    .dados_vacinais__btn {
      background: var(--INVAC_Neutra_fff);
      color: var(--INVAC_Azul_texto);
    }

    @media only screen and (min-width: 768px) {
      margin: 6rem 0;
      height: 17rem;
      justify-content: center;
      background: var(--INVAC_Azul_600);
      background-image: url(../public/img/bg_dados_index.svg);
      //fallback ^^
      background-image: url(../public/img/bg_dados_index.svg), var(--Gradiente_Azul-ltr-Azul);
      background-size: 106%;
      background-repeat: no-repeat;
      background-position: 100% 0;

      h2,
      p {
        max-width: 20.25rem !important;
      }
    }
  }
}

//secão de duvidas frequentes
.secao_duvidas {
  .duvidas_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    span {
      line-height: 1.3;
      letter-spacing: -0.01em;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: .75rem;

      span {
        display: inline-block;
        text-transform: uppercase;
        color: var(--INVAC_Preto_texto);
      }
    }

    .duvidas_cta {
      .secao_duvidas__p {
        margin-bottom: 2rem;
        text-align: center;
        color: var(--INVAC_Cinza_textos);
        max-width: 24rem;
        line-height: 1.5;
      }

      a {
        margin: auto;
      }
    }

    @media only screen and (min-width: 768px) {
      background-image: var(--Gradiente_Azul-ltr-Azul);
      padding: 2.5rem 2rem;
      border-radius: .5rem;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h2 {
        width: 15rem;
        margin-bottom: 0;

        &,
        span {
          color: var(--INVAC_Neutra_fff);
          font-size: 2rem;
          line-height: 1.3;
          letter-spacing: 0;
          font-weight: 800;
        }
      }

      .duvidas_cta {
        max-width: 22rem;
        color: var(--INVAC_Neutra_fff);

        .secao_duvidas__p {
          text-align: left;
        }

        a {
          background: var(--INVAC_Neutra_fff);
          color: var(--INVAC_Azul_escuro);
          margin: 0;
        }
      }
    }
  }
}