.main {
  @media only screen and (min-width: 768px) {
    background-image: var(--INVAC_Azul_600);
    background-image: url(../public/img/bg_main_faq.svg), var(--Gradiente_Azul-ltr-Verde);
    background-repeat: no-repeat;

    @media only screen and (min-width: 880px) {
      background-image: url(../public/img/bg_mapa_main.png), url(../public/img/bg_main_faq.svg), var(--Gradiente_Azul-ltr-Verde);
      background-position: 96% bottom, 100% 0%;

    }
  }
}

.mapa_section {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mapa {
      max-width: 27rem;
    }

    .menu_filtro {
      width: 100%;
      max-width: 28.75rem;
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;

      .mapa {
        width: 25rem;
      }

      .menu_filtro {
        width: 17rem;
      }
    }

    @media only screen and (min-width: 880px) {
      .menu_filtro {
        width: 20rem;
      }
    }
  }
}

.filtro_estado {
  font-size: .75rem !important;
  text-transform: uppercase;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  border: 1px solid currentColor;
  border-radius: 100rem;
  display: flex;
  align-items: center;

  &::after {
    content: url(../public/icons/help.svg);
    margin-left: .5rem;
  }

  &.controlado {
    color: var(--INVAC_Verde_700) !important;
  }

  &.alerta {
    color: var(--INVAC_Amarelo_700) !important;
  }
}