.filtro_estado {
  font-size: .75rem !important;
  text-transform: uppercase;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  border: 1px solid currentColor;
  border-radius: 100rem;
  display: flex;
  align-items: center;

  &::after {
    content: url(../public/icons/help.svg);
    margin-left: .5rem;
  }

  &.controlado {
    color: var(--INVAC_Verde_700) !important;
  }

  &.alerta {
    color: var(--INVAC_Amarelo_700) !important;
  }
}