footer {
  background: var(--600);
  padding: 3rem 0 2rem;

  .menu-info .menu-info__item {
    font-size: 1.125rem;
    color: var(--100);
    text-align: center;
  }

  .copyright {
    color: var(--200);
  }
}