.header {
  background-color: var(--600);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -18.75rem;
    background-color: #fff;
    width: 18.75rem;
    height: 4.4rem;
    visibility: hidden;
    opacity: 0;
  }

  .header__container {
    position: relative;
    z-index: 6;

    .header-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.2rem;

      a {
        display: flex;
      }

      .header__button {
        width: 2rem;
        height: 1.4rem;

        span {
          position: absolute;
          left: -999999999px;
        }

        div {
          width: 2rem;
          height: .25rem;
          margin: 0 auto;
          background: var(--100);
          transition: all 0.2s ease-in-out;
          position: relative;
          display: flex;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 2rem;
            height: .25rem;
            background: var(--100);
            transition: all 0.2s ease-in-out;
          }

          &::before {
            transform: translateY(-10px);
            display: block;
          }

          &::after {
            transform: translateY(10px);
            display: block;
          }
        }
      }
    }

    .menu {
      position: fixed;
      bottom: 0;
      left: -18.75rem;
      width: 18.75rem;
      height: 100%;
      background: #fff;
      padding: 0;
      visibility: hidden;
      opacity: 0;
      // transition: .3s opacity background-color ease-in-out;

      .menu__item {
        padding: .75rem 0;
        color: var(--600);
      }

      .menu-instalacao {
        margin: 1.5rem 0 5.8rem;
        padding-top: 2rem;
        border-top: 1px solid var(--300);

        button {
          padding: .75rem;
          width: 12rem;
          margin: auto;
          border-radius: .25rem;
          border: 1px solid var(--300);
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: var(--semi);
          color: var(--600);

          //temporario
          &::before {
            content: '';
            width: 10px;
            height: 12px;
            border-radius: 50%;
            background: var(--300);
            margin-right: .5rem;
          }
        }
      }
    }
  }

  &.--open {
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(25, 27, 32, 0.56);
    // transition: .1s background-color linear;

    &::before {
      left: 0;
      visibility: visible;
      opacity: 1;
      transition: .15s background-color linear;
    }

    .header-logo .header__button {
      color: var(--600);

      div {
        transform: translateX(-50px);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(35px, -35px);
        }

        &::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }

    .menu {
      padding: 3.125rem 2.25rem 0 1.375rem;
      height: calc(100vh - 4rem);
      left: 0;
      visibility: visible;
      opacity: 1;
      transition: .15s background-color linear;
    }
  }
}