.header {
  background: var(--Gradiente_Azul-ltr-Verde);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;

    &.scroll {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .logo {
      display: flex;
      position: relative;
      z-index: 8;
    }

    .header__button {
      width: 2rem;
      height: 1.4rem;
      position: relative;
      z-index: 8;

      span {
        position: absolute;
        left: -999999999px;
      }

      div {
        width: 2rem;
        height: .25rem;
        margin: 0 auto;
        background: var(--INVAC_Neutra_fff);
        transition: all 0.2s ease-in-out;
        position: relative;
        display: flex;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 2rem;
          height: .25rem;
          background: var(--INVAC_Neutra_fff);
          transition: all 0.2s ease-in-out;
        }

        &::before {
          transform: translateY(-10px);
          display: block;
        }

        &::after {
          transform: translateY(10px);
          display: block;
        }
      }
    }

    .overlay {
      position: fixed;
      left: 0;
      top: 0;
      background: rgba($color: #000000, $alpha: .5);
      height: 100vh;
      width: 100vw;
      z-index: 7;
      visibility: hidden;
      opacity: 0;

      &::before {
        z-index: 7;
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: -18.75rem;
        background-color: #fff;
        width: 18.75rem;
        height: 4.4rem;
        visibility: hidden;
        opacity: 0;
      }

      .menu {
        position: fixed;
        background: var(--INVAC_Neutra_fff);
        left: -18.75rem;
        bottom: 0;
        width: 18.75rem;
        overflow-y: auto;

        .divisoria {
          padding-bottom: 1.25rem;
          border-bottom: 1px solid var(--INVAC_Neutra_200);
          margin-bottom: 1rem;
          display: flex;
          align-items: center;

          .divisoria_menu {
            width: .75rem;
            height: 2px;
            background: var(--INVAC_Neutra_300);

            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 1rem;
              height: 2px;
              background: var(--INVAC_Neutra_300);
              transition: all 0.2s ease-in-out;
            }

            &::before {
              transform: translateY(-6px);
              display: block;
            }

            &::after {
              transform: translateY(6px);
              display: block;
            }
          }

          span {
            text-transform: uppercase;
            color: var(--INVAC_Neutra_300);
            line-height: 1.3;
            letter-spacing: 0.25px;
            font-size: .75rem;
            font-weight: var(--semi);
            margin-left: .8rem;


            &.divisoria_ajuda {
              display: flex;
              align-items: center;
              margin-left: 0;

              &::before {
                content: url(../public/icons/ajuda.svg);
                width: .875rem;
                height: .875rem;
                margin-right: .375rem;
              }
            }
          }
        }

        .btn__menu {
          display: flex;
          align-items: center;
          padding: .75rem 0 .75rem .75rem;
          transition: .3s ease-in-out;

          svg {
            margin-right: .75rem;

            path {
              fill: var(--INVAC_Neutra_300);
            }
          }

          span {
            font-size: 1rem;
            font-weight: var(--semi);
            color: var(--INVAC_Neutra_400);
            line-height: 1.66;
            letter-spacing: -0.25px;
          }

          &:hover {
            text-decoration: none;
            transition: .3s ease-in-out;

            svg path {
              fill: var(--INVAC_Azul_600);
            }

            span {
              color: var(--INVAC_Azul_600);
            }
          }

          &.btn__menu_ativo {
            background: var(--INVAC_Azul_100);

            svg path {
              fill: var(--INVAC_Azul_600);
            }

            span {
              color: var(--INVAC_Azul_600);
            }
          }
        }

        .menu_instalacao {
          margin: 1.5rem 0 4rem;
          padding-top: 2rem;
          border-top: 1px solid var(--INVAC_Neutra_200);

          button {
            width: 100%;
            color: var(--INVAC_Neutra_fff);

            &::after {
              content: url(../public/icons/btn_instalar.svg);
              width: 1rem;
              height: 1.2rem;
              margin-left: 1.125rem;
            }
          }
        }
      }
    }
  }

  &.__open {

    .logo svg {
      #nvac path {
        fill: #32363F;
      }

      #gota {
        fill: #fff;
      }

      #branco {
        fill: #2561D3;
      }
    }

    .header__button {
      color: var(--600);

      div {
        transform: translateX(-50px);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(35px, -35px);
        }

        &::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }

    .overlay {
      visibility: visible;
      opacity: 1;
      transition: .3s ease-in-out;

      &::before {
        visibility: visible;
        opacity: 1;
        left: 0;
        transition: .3s left ease-in-out;
      }

      .menu {
        padding: 2rem 2.25rem 2rem 1.375rem;
        height: calc(100vh - 4rem);
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: .3s left ease-in-out;
      }
    }
  }
}